@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:400i|Montserrat:300&display=swap');


    body{
      background-color:plum;
}

      section{
        background-color: white;
background-color: rgb(255,255,255,0.5)
/* white with a 50% opacity */
    }
    h1{
color: Teal;
    }
    h2{
  color:DarkSlateGrey;
}

        ul li{
    list-style-type: square;
}
    a{
color:indigo;
  text-decoration: none;
  /* removes underline */
}
a:hover{
  background-color: gold;
}
a:visited{
color:midnightblue;
}
/* # = ID */
#name{
  text-align:center;
  font-family:'Josefin Slab', serif;
}
#AboutMe {
  color: DarkSlateGrey;
  padding: 10px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#WorkExperience {
color:DarkSlateGrey;
padding:9px;
text-align: center;
font-family: 'Montserrat', sans-serif;

}
#Hobbies {
color:DarkSlateGrey;
padding:9px;
text-align: center;
font-family: 'Montserrat', sans-serif;

}
#Job1{
color:black;
padding: 1px;
}
#Job2{
color:black;
padding: 1px;
}


 /* class! */

.blueshadow {
  color:Black;
  text-shadow: 1px 1px 2px black, 0 0 1em teal, 0 0 0.2em teal;
    color: white;
}

.underline{
    text-decoration: underline;
    font-weight: bold;

}
/* important to know for homework */
